$base-vw: 1920px;
@function vw($px-vw, $base-vw) {
    $size: calc(($px-vw * 100vw) / $base-vw);
    @return $size;
}
// взяты с проекта
.faq {
    margin-bottom: 200px;

    @media (max-width: 1920px) {
        margin-bottom: vw(200px, $base-vw);
    }
    @media (max-width: 520px) {
        margin-bottom: 100px;
    }
    .col {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;
        height: fit-content;
        @media (max-width: 1920px) {
            row-gap: vw(16px, $base-vw);
        }
        @media (max-width: 520px) {
            row-gap: 8px;
        }
    }
    .accordion {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        @media (max-width: 1920px) {
            gap: vw(16px, $base-vw);
        }
        @media (max-width: 520px) {
            row-gap: 8px;
        }
        button {
            position: relative;
            display: block;
            text-align: left;
            box-sizing: border-box;
            padding: 38px 70px 38px 20px;
            font-size: 20px;
            font-weight: 700;
            line-height: 24.38px;
            width: 100%;
            text-align: left;
            border: none;
            background: #FFFFFF;
            outline: none;
            border-radius: 20px;
            @media (max-width: 1920px) {
                padding: vw(38px, $base-vw) vw(70px, $base-vw) vw(38px, $base-vw) vw(20px, $base-vw);
                font-size: vw(20px, $base-vw);
                line-height: vw(24.38px, $base-vw);
                border-radius: vw(20px, $base-vw);
            }
            @media (max-width: 1024px) {
                padding: 22.5px 70px 22.5px 20px;
                font-size: 12px;
                font-weight: 600;
                line-height: 14.63px;
                border-radius: 8px;
            }
            &:hover {
                cursor: pointer;
                .accordion-title {
                    color: #999999;
                }
                &::after {
                    cursor: pointer;
                    color: #999999;
                }
            }
            .accordion-title {
                color: #000000;
                font-family: "Montserrat", sans-serif!important;

            }
            .icon {
                background-color: #000;
                display: flex;
                position: absolute;
                top: 30px;
                right: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                @media (max-width: 1920px) {
                    height: vw(40px, $base-vw);
                    width: vw(40px, $base-vw);
                    top: vw(30px, $base-vw);
                    right: vw(20px, $base-vw);
                }
                @media (max-width: 520px) {
                    top: 28%;
                    right: 20px;
                    width: 32px;
                    height: 32px;
                }
                img {
                    @media (max-width: 1920px) {
                        width: vw(20px, $base-vw);
                    }
                    @media (max-width: 520px) {
                        width: auto;
                    }
                }
            }
        }
        button[aria-expanded='true'] {
            color: #999999;
            .icon {
                transform: rotate(45deg);
            }
            +.accordion-content {
                margin-top: 8px;
                background-color: #FFFFFF;
                border-radius: 20px;
                opacity: 1;
                max-height: 15em;
                transition: 0.5s;
                @media (max-width: 1920px) {
                    margin-top: vw(8px, $base-vw);
                    border-radius: vw(20px, $base-vw);
                    max-height: vw(200px, $base-vw);
                }
                @media (max-width: 520px) {
                    max-height: 20em;
                    border-radius: 8px;
                    margin-top: 8px;
                }
                p {
                    transform: translateY(0);
                    opacity: 1;
                    transition: 0.5s;
                }
            }
        }
        .accordion-content {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: 0.5s;
            p {
                font-size: 18px;
                font-weight: 600;
                line-height: 25.2px;
                text-align: left;
                margin: 24px 20px;
                color: #999999;
                opacity: 0;
                transition: 0.5s;
                max-width: 750px;
                @media (max-width: 1920px) {
                    font-size: vw(18px, $base-vw);
                    line-height: vw(25.2px, $base-vw);
                    margin: vw(24px, $base-vw) vw(20px, $base-vw);
                    max-width: vw(750px, $base-vw);
                }
                @media (max-width: 1024px) {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14.63px;
                    margin: 24px 12px;
                    max-width: 100%;
                }
            }
        }
    }
}

// нужные для натяжки
.faq-payment{
    padding-bottom: vw(200px, $base-vw);
    margin-bottom: 0;
    .accordion{
        display: flex;
        justify-content: space-between;
        gap: vw(16px, $base-vw);
        @media screen and (max-width: 1024px){
            flex-direction: column;
            gap: 8px;
        }
        &-item{
            width: 100%;
            @media screen and (max-width: 1024px){
                button{
                    .icon{
                        img{
                            width: 18px;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px){
                button{
                    .icon{
                        img{
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
    .col{
        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
            gap: 8px;
            flex-direction: column;
        }
    }
    .title-section{
        text-align: center;
        font-weight: 600;
        font-size: vw(44px, $base-vw);
        color: #000;
        margin-bottom: vw(60px, $base-vw);
        @media screen and (max-width: 1024px){
            margin-left: 12px;
            text-align: left;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .accordion button[aria-expanded=true] + .accordion-content{
        max-height: 100%;
    }
}
.faq-payment, .services, .services__text{
    .container{
        max-width: vw(1602px, $base-vw);
        width: 100%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        @media screen and (max-width: 1024px){
            max-width: 100%;
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}