@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.menu {
  background: #000;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.menu a {
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.payment-section, .faq-payment {
  background: #F3F3F3;
}

.payment-form {
  font-family: "Montserrat", sans-serif;
  max-width: 83.4375vw;
  margin: auto;
  color: #000;
  padding-bottom: 10.4166666667vw;
  padding-top: 4.1666666667vw;
}
@media screen and (max-width: 1024px) {
  .payment-form {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 100px;
  }
}
.payment-form__title {
  font-weight: 700;
  font-size: 1.25vw;
  margin-left: 1.5104166667vw;
  margin-bottom: 1.5104166667vw;
  color: #000;
  text-transform: none;
}
@media screen and (max-width: 1024px) {
  .payment-form__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    margin-left: 12px;
    margin-bottom: 21px;
    text-align: left;
  }
}
.payment-form__subtitle {
  font-weight: 600;
  font-size: 0.8333333333vw;
  margin-bottom: 0.2604166667vw;
  margin-left: 0.6770833333vw;
}
@media screen and (max-width: 1024px) {
  .payment-form__subtitle {
    margin-left: 0;
    font-size: 12px;
    margin-bottom: 4px;
  }
}
.payment-form__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  gap: 0 0.8333333333vw;
  position: relative;
}
.payment-form__container .payment-form__block--sender {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}
.payment-form__container .payment-form__block--recipient {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}
.payment-form__container .payment-form__summary {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}
@media screen and (max-width: 1024px) {
  .payment-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
  }
}
.payment-form__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 0.4166666667vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 1.0416666667vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}
.payment-form__block.payment-form__block--sender {
  padding-left: 1.4583333333vw;
  padding-right: 4.0625vw;
}
@media screen and (max-width: 1024px) {
  .payment-form__block.payment-form__block--sender {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 61px;
    padding-top: 24px;
  }
}
.payment-form__block.payment-form__block--recipient {
  padding-left: 4.0625vw;
  padding-right: 1.4583333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-form__block.payment-form__block--recipient {
    padding-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 88px;
  }
}
@media screen and (max-width: 1024px) {
  .payment-form__block {
    border-radius: 12px;
    gap: 8px;
  }
}
.payment-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4166666667vw;
}
.payment-form__row .full-width {
  max-width: 100%;
}
.payment-form__row .half-width {
  max-width: 8.6458333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
  }
  .payment-form__row .full-width {
    max-width: 100%;
  }
  .payment-form__row .half-width {
    max-width: calc(50% - 4px);
  }
}
.payment-form__limit {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 500;
  font-size: 0.7291666667vw;
  padding-right: 0.625vw;
  text-align: right;
  color: #B1B1B1;
}
@media screen and (max-width: 1024px) {
  .payment-form__limit {
    font-size: 12px;
    line-height: 140%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 5px;
    margin-left: 13px;
  }
  .payment-form__limit br {
    display: none;
  }
}
.payment-form .payment-valid + svg path {
  stroke: #000;
}
.payment-form__input {
  padding: 0.8333333333vw;
  padding-left: 2.2395833333vw;
  border: 1px solid #F3F3F3;
  height: 3.3333333333vw;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 0.8333333333vw;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.625vw;
  background: #F3F3F3;
}
@media screen and (max-width: 1550px) and (min-width: 1024px) {
  .payment-form__input {
    padding-left: 40px;
  }
}
.payment-form__input--error {
  border: 1px solid #EA4335 !important;
  color: #EA4335 !important;
  border-radius: 0.625vw;
}
.payment-form__input--error::-webkit-input-placeholder {
  color: #EA4335;
}
.payment-form__input--error::-moz-placeholder {
  color: #EA4335;
}
.payment-form__input--error:-ms-input-placeholder {
  color: #EA4335;
}
.payment-form__input--error::-ms-input-placeholder {
  color: #EA4335;
}
.payment-form__input--error::placeholder {
  color: #EA4335;
}
.payment-form__input--error + svg path {
  stroke: #EA4335 !important;
}
@media screen and (max-width: 1024px) {
  .payment-form__input--error {
    border-radius: 8px;
  }
}
.payment-form__input[type=number] {
  -moz-appearance: textfield;
}
.payment-form__input[type=number]::-webkit-inner-spin-button, .payment-form__input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.payment-form__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #F3F3F3 inset !important;
          box-shadow: 0 0 0 1000px #F3F3F3 inset !important;
}
.payment-form__input:focus {
  outline: none;
  border: 1px solid #000;
}
.payment-form__input:focus + svg path {
  stroke: #000;
}
.payment-form__input.payment-form__input--amount {
  width: 100%;
  color: #000;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding-left: 0.6770833333vw;
  background: transparent;
}
@media screen and (max-width: 1024px) {
  .payment-form__input.payment-form__input--amount {
    padding-left: 13px;
    height: 40px;
    padding-bottom: 10px;
  }
}
.payment-form__input.payment-form__input--amount.payment-form__error {
  color: #EA4335;
}
.payment-form__input.payment-form__input--amount.payment-form__error::-webkit-input-placeholder {
  color: #EA4335;
}
.payment-form__input.payment-form__input--amount.payment-form__error::-moz-placeholder {
  color: #EA4335;
}
.payment-form__input.payment-form__input--amount.payment-form__error:-ms-input-placeholder {
  color: #EA4335;
}
.payment-form__input.payment-form__input--amount.payment-form__error::-ms-input-placeholder {
  color: #EA4335;
}
.payment-form__input.payment-form__input--amount.payment-form__error::placeholder {
  color: #EA4335;
}
.payment-form__input.payment-form__input--amount:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
          box-shadow: 0 0 0 1000px #fff inset !important;
}
.payment-form__input.payment-form__input--amount::-webkit-input-placeholder {
  color: #000;
}
.payment-form__input.payment-form__input--amount::-moz-placeholder {
  color: #000;
}
.payment-form__input.payment-form__input--amount:-ms-input-placeholder {
  color: #000;
}
.payment-form__input.payment-form__input--amount::-ms-input-placeholder {
  color: #000;
}
.payment-form__input.payment-form__input--amount::placeholder {
  color: #000;
}
@media screen and (max-width: 1024px) {
  .payment-form__input {
    height: 52px;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 36px;
    padding-bottom: 0;
  }
}
.payment-form__wrapper {
  position: relative;
  width: 100%;
}
.payment-form__wrapper svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.78125vw;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-form__wrapper svg path {
  stroke: #B0B0B0;
}
@media screen and (max-width: 1024px) {
  .payment-form__wrapper svg {
    left: 12px;
    -webkit-transform: scale(0.85) translateY(-50%);
        -ms-transform: scale(0.85) translateY(-50%);
            transform: scale(0.85) translateY(-50%);
  }
}
.payment-form__note {
  color: #A7A7A7;
  padding-top: 0.8333333333vw;
  font-weight: 500;
  font-size: 0.8333333333vw;
  line-height: 140%;
  text-align: center;
}
.payment-form__note a {
  color: #050505;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .payment-form__note {
    font-size: 12px;
    text-align: left;
    padding-top: 16px;
  }
  .payment-form__note br {
    display: none;
  }
}
.payment-form__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .payment-form__arrow {
    top: calc(50% + 8px);
  }
}
.payment-form__arrow--icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 3.125vw;
  height: 3.125vw;
  border-radius: 50%;
  background: #fff;
}
.payment-form__arrow--icon #payment-arrow--mob {
  display: none;
}
@media screen and (max-width: 1024px) {
  .payment-form__arrow--icon #payment-arrow--mob {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .payment-form__arrow--icon #payment-arrow--desk {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .payment-form__arrow--icon {
    width: 40px;
    height: 40px;
    background: #000;
  }
  .payment-form__arrow--icon-mob svg {
    display: block;
  }
  .payment-form__arrow--icon svg {
    display: none;
  }
}
.payment-form__arrow::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4.6875vw;
  height: 4.6875vw;
  border-radius: 50%;
  background: #F3F3F3;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 1024px) {
  .payment-form__arrow::before {
    height: 70px;
    width: 70px;
  }
}
.payment-form__summary {
  padding-left: 4.0625vw;
  padding-right: 1.4583333333vw;
  padding-top: 1.4583333333vw;
}
.payment-form__summary-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625vw;
  padding: 1.5104166667vw 0.625vw;
  border-top: 1px solid #A1A1A1;
  border-bottom: 1px solid #A1A1A1;
}
@media screen and (max-width: 1024px) {
  .payment-form__summary-item {
    padding: 29px 0;
    gap: 12px;
  }
}
.payment-form__summary p {
  font-weight: 500;
  font-size: 0.8333333333vw;
  line-height: 1.0416666667vw;
  color: #A1A1A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payment-form__summary p span {
  font-weight: 600;
  color: #000;
}
.payment-form__summary p span:first-child {
  margin-left: auto;
  margin-right: 5px;
}
@media screen and (max-width: 1024px) {
  .payment-form__summary {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
  }
  .payment-form__summary p {
    font-size: 12px;
    line-height: 20px;
  }
}
.payment-form__msg {
  color: #EA4335;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7291666667vw;
  position: absolute;
  bottom: -1.1979166667vw;
  left: 0;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1024px) {
  .payment-form__msg {
    font-size: 12px;
    bottom: -17px;
  }
}
.payment-form__hidden {
  opacity: 0;
}
.payment-form__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4583333333vw 0.625vw;
}
.payment-form__total span {
  margin-right: 0;
  margin-left: 7px;
}
.payment-form__total strong {
  margin-left: auto;
}
.payment-form__total strong, .payment-form__total span {
  font-weight: 700;
  font-size: 1.25vw;
}
@media screen and (max-width: 1024px) {
  .payment-form__total strong, .payment-form__total span {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .payment-form__total {
    padding: 20px 0;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.payment-form .payment-form__submit {
  display: none;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
.payment-form__pay-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4166666667vw;
  height: 3.28125vw;
  background: black;
  border: 1px solid #000;
  color: white;
  border-radius: 0.625vw;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-form__pay-btn:disabled {
  background: #999999;
  pointer-events: none;
  cursor: not-allowed;
  border: none;
}
.payment-form__pay-btn svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-form__pay-btn:hover {
  background: transparent;
  color: #000;
}
.payment-form__pay-btn:hover svg path {
  stroke: #000;
}
@media screen and (max-width: 1024px) {
  .payment-form__pay-btn {
    font-size: 12px;
    gap: 8px;
    height: 51px;
    border-radius: 8px;
  }
}

.payment-status {
  padding: 3.3333333333vw 4.1666666667vw;
  max-width: 37.5vw;
  margin: 0 auto;
  background: #fff;
  border-radius: 1.0416666667vw;
  margin-top: 100px;
}
@media screen and (max-width: 1024px) {
  .payment-status {
    min-height: 100vh;
    margin-top: 0;
    padding: 16px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.payment-status__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4583333333vw;
  padding-bottom: 1.4583333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__header {
    gap: 20px;
    padding-bottom: 20px;
  }
}
.payment-status__title {
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .payment-status__title {
    font-size: 20px;
  }
}
.payment-status__body-item {
  padding-top: 1.5104166667vw;
  padding-bottom: 1.5104166667vw;
  border-top: 1px solid #A1A1A1;
  border-bottom: 1px solid #A1A1A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__body-item {
    gap: 12px;
    padding: 20px 0;
  }
}
.payment-status__body-item:first-child {
  border-bottom: 0;
}
.payment-status__body-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8333333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__body-item div {
    font-size: 12px;
  }
}
.payment-status__body-item p {
  color: #A1A1A1;
  font-weight: 500;
}
.payment-status__body-item span {
  font-weight: 600;
  text-align: right;
  color: #000;
}
.payment-status__footer {
  padding-top: 2.0833333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__footer {
    padding-top: 28px;
  }
}
.payment-status__footer button {
  margin-top: 0.8333333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__footer button {
    margin-top: 8px;
  }
}
.payment-status__footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8333333333vw;
  padding-bottom: 1.25vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__footer div {
    font-size: 12px;
    padding-bottom: 20px;
  }
}
.payment-status__footer div p {
  color: #000;
  font-weight: 500;
}
.payment-status__footer div span {
  font-weight: 700;
  font-size: 1.25vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__footer div span {
    font-size: 20px;
  }
}
.payment-status__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4166666667vw;
  height: 3.28125vw;
  border: 1px solid #000;
  color: white;
  border-radius: 0.625vw;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-status__btn:disabled {
  background: #999999;
}
.payment-status__btn svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-status__btn:hover {
  background: transparent;
  color: #000;
}
.payment-status__btn:hover svg path {
  stroke: #000;
}
@media screen and (max-width: 1024px) {
  .payment-status__btn {
    font-size: 12px;
    gap: 8px;
    height: 51px;
    border-radius: 8px;
  }
}
.payment-status__btn.payment-status__btn--black {
  background: black;
}
.payment-status__btn.payment-status__btn--black:hover {
  background: transparent;
}
.payment-status__btn.payment-status__btn--light {
  background: transparent;
  color: #000;
}
.payment-status__btn.payment-status__btn--light:hover {
  color: #fff;
  background: #000;
}
.payment-status__btn.payment-status__btn--light:hover svg path {
  stroke: #fff;
}
.payment-status__text {
  font-weight: 700;
  font-size: 1.6666666667vw;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.1882352941);
  padding-top: 1.4583333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-status__text {
    display: none;
  }
}

.payment-status--error .payment-status__header, .payment-status--pending .payment-status__header {
  padding-bottom: 1.4583333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-status--error .payment-status__header, .payment-status--pending .payment-status__header {
    gap: 20px;
    padding-bottom: 20px;
  }
}
.payment-status--error .payment-status__footer, .payment-status--pending .payment-status__footer {
  padding-top: 0;
}
.payment-status--error .payment-status__btn, .payment-status--pending .payment-status__btn {
  margin-top: 0;
}

.faq {
  margin-bottom: 200px;
}
@media (max-width: 1920px) {
  .faq {
    margin-bottom: 10.4166666667vw;
  }
}
@media (max-width: 520px) {
  .faq {
    margin-bottom: 100px;
  }
}
.faq .col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  row-gap: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1920px) {
  .faq .col {
    row-gap: 0.8333333333vw;
  }
}
@media (max-width: 520px) {
  .faq .col {
    row-gap: 8px;
  }
}
.faq .accordion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
@media (max-width: 1920px) {
  .faq .accordion {
    gap: 0.8333333333vw;
  }
}
@media (max-width: 520px) {
  .faq .accordion {
    row-gap: 8px;
  }
}
.faq .accordion button {
  position: relative;
  display: block;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 38px 70px 38px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  width: 100%;
  text-align: left;
  border: none;
  background: #FFFFFF;
  outline: none;
  border-radius: 20px;
}
@media (max-width: 1920px) {
  .faq .accordion button {
    padding: 1.9791666667vw 3.6458333333vw 1.9791666667vw 1.0416666667vw;
    font-size: 1.0416666667vw;
    line-height: 1.2697916667vw;
    border-radius: 1.0416666667vw;
  }
}
@media (max-width: 1024px) {
  .faq .accordion button {
    padding: 22.5px 70px 22.5px 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    border-radius: 8px;
  }
}
.faq .accordion button:hover {
  cursor: pointer;
}
.faq .accordion button:hover .accordion-title {
  color: #999999;
}
.faq .accordion button:hover::after {
  cursor: pointer;
  color: #999999;
}
.faq .accordion button .accordion-title {
  color: #000000;
  font-family: "Montserrat", sans-serif !important;
}
.faq .accordion button .icon {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1920px) {
  .faq .accordion button .icon {
    height: 2.0833333333vw;
    width: 2.0833333333vw;
    top: 1.5625vw;
    right: 1.0416666667vw;
  }
}
@media (max-width: 520px) {
  .faq .accordion button .icon {
    top: 28%;
    right: 20px;
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 1920px) {
  .faq .accordion button .icon img {
    width: 1.0416666667vw;
  }
}
@media (max-width: 520px) {
  .faq .accordion button .icon img {
    width: auto;
  }
}
.faq .accordion button[aria-expanded=true] {
  color: #999999;
}
.faq .accordion button[aria-expanded=true] .icon {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.faq .accordion button[aria-expanded=true] + .accordion-content {
  margin-top: 8px;
  background-color: #FFFFFF;
  border-radius: 20px;
  opacity: 1;
  max-height: 15em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1920px) {
  .faq .accordion button[aria-expanded=true] + .accordion-content {
    margin-top: 0.4166666667vw;
    border-radius: 1.0416666667vw;
    max-height: 10.4166666667vw;
  }
}
@media (max-width: 520px) {
  .faq .accordion button[aria-expanded=true] + .accordion-content {
    max-height: 20em;
    border-radius: 8px;
    margin-top: 8px;
  }
}
.faq .accordion button[aria-expanded=true] + .accordion-content p {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.faq .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.faq .accordion .accordion-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: left;
  margin: 24px 20px;
  color: #999999;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 750px;
}
@media (max-width: 1920px) {
  .faq .accordion .accordion-content p {
    font-size: 0.9375vw;
    line-height: 1.3125vw;
    margin: 1.25vw 1.0416666667vw;
    max-width: 39.0625vw;
  }
}
@media (max-width: 1024px) {
  .faq .accordion .accordion-content p {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    margin: 24px 12px;
    max-width: 100%;
  }
}

.faq-payment {
  padding-bottom: 10.4166666667vw;
  margin-bottom: 0;
}
.faq-payment .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8333333333vw;
}
@media screen and (max-width: 1024px) {
  .faq-payment .accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}
.faq-payment .accordion-item {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .faq-payment .accordion-item button .icon img {
    width: 18px;
  }
}
@media screen and (max-width: 768px) {
  .faq-payment .accordion-item button .icon img {
    width: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .faq-payment .col {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.faq-payment .title-section {
  text-align: center;
  font-weight: 600;
  font-size: 2.2916666667vw;
  color: #000;
  margin-bottom: 3.125vw;
}
@media screen and (max-width: 1024px) {
  .faq-payment .title-section {
    margin-left: 12px;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.faq-payment .accordion button[aria-expanded=true] + .accordion-content {
  max-height: 100%;
}

.faq-payment .container, .services .container, .services__text .container {
  max-width: 83.4375vw;
  width: 100%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1024px) {
  .faq-payment .container, .services .container, .services__text .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.payment-card {
  max-width: 27.0833333333vw;
  width: 100%;
  margin: 0 auto;
  margin-top: 0.625vw;
}
.payment-card .payment-form__submit--visible {
  display: block;
}
@media screen and (max-width: 1024px) {
  .payment-card {
    margin-top: 0;
    padding: 0;
    padding-top: 12px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .payment-card:first-child {
    padding-bottom: 0;
  }
  .payment-card h1 {
    display: none;
  }
}
.payment-card .payment-form {
  border-radius: 1.0416666667vw;
  padding-top: 0;
  padding-bottom: 0;
}
.payment-card .payment-form__container {
  -ms-grid-columns: auto;
  grid-template-columns: auto;
}
.payment-card .payment-form__block {
  padding: 0;
}
.payment-card .payment-form__wrapper svg {
  left: 0.78125vw;
}
.payment-card .payment-form__input {
  border: 1px solid #999999;
  height: 2.7083333333vw;
  background: #fff;
  font-size: 0.7291666667vw;
  padding-left: 40px;
}
.payment-card .payment-form__input:focus {
  border-color: #000;
}
.payment-card .payment-form .half-width {
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .payment-card .payment-form .half-width {
    max-width: calc(50% - 4px);
  }
}
.payment-card .payment-form__pay-btn {
  margin-top: 0;
  height: 2.65625vw;
}
@media screen and (max-width: 1024px) {
  .payment-card .payment-form__pay-btn {
    height: 44px;
  }
}
.payment-card .payment-form__note {
  padding-top: 1.0416666667vw;
  font-size: 0.7291666667vw;
}
@media screen and (max-width: 1024px) {
  .payment-card .payment-form__note {
    text-align: center;
    padding-top: 16px;
    font-size: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .payment-card .payment-form {
    width: 100%;
    margin-top: 28px;
    padding: 0 16px;
    border-radius: 12px;
  }
  .payment-card .payment-form__input {
    height: 44px;
    font-size: 12px;
  }
}
.payment-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4583333333vw;
  padding-bottom: 1.4583333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-card__header {
    gap: 20px;
    padding-bottom: 20px;
  }
}
.payment-card__title {
  font-size: 1.6666666667vw;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2.0833333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-card__title {
    font-size: 20px;
  }
}
.payment-card__body {
  background: #fff;
  border-radius: 1.0416666667vw;
  padding: 2.0833333333vw 1.4583333333vw;
}
.payment-card__body-item {
  padding-top: 1.0416666667vw;
  border-top: 1px solid #A1A1A1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625vw;
}
@media screen and (max-width: 1024px) {
  .payment-card__body-item {
    gap: 8px;
    padding: 20px 0;
  }
}
.payment-card__body-item:first-child {
  border-top: 0;
  padding-bottom: 1.0416666667vw;
  padding-top: 0;
}
@media screen and (max-width: 1024px) {
  .payment-card__body-item:first-child {
    padding-bottom: 20px;
  }
}
.payment-card__body-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7291666667vw;
}
@media screen and (max-width: 1024px) {
  .payment-card__body-item div {
    font-size: 12px;
  }
}
.payment-card__body-item p {
  color: #A1A1A1;
  font-weight: 500;
}
.payment-card__body-item span {
  font-weight: 600;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 1024px) {
  .payment-card__body {
    padding: 24px 12px;
    border-radius: 12px;
  }
}
.payment-card__footer {
  padding-top: 1.0416666667vw;
}
@media screen and (max-width: 1024px) {
  .payment-card__footer {
    padding-top: 0px;
  }
}
.payment-card__footer button {
  margin-top: 0.8333333333vw;
}
@media screen and (max-width: 1024px) {
  .payment-card__footer button {
    margin-top: 8px;
  }
}
.payment-card__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8333333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4166666667vw;
  height: 3.28125vw;
  border: 1px solid #000;
  color: white;
  border-radius: 0.625vw;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-card__btn:disabled {
  background: #999999;
}
.payment-card__btn svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.payment-card__btn:hover {
  background: transparent;
  color: #000;
}
.payment-card__btn:hover svg path {
  stroke: #000;
}
@media screen and (max-width: 1024px) {
  .payment-card__btn {
    font-size: 12px;
    gap: 8px;
    height: 51px;
    border-radius: 8px;
  }
}
.payment-card__btn.payment-status__btn--black {
  background: black;
}
.payment-card__btn.payment-status__btn--black:hover {
  background: transparent;
}
.payment-card__btn.payment-status__btn--light {
  background: transparent;
  color: #000;
}
.payment-card__btn.payment-status__btn--light:hover {
  color: #fff;
  background: #000;
}
.payment-card__btn.payment-status__btn--light:hover svg path {
  stroke: #fff;
}

.payment-logo {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8333333333vw;
}
.payment-logo img {
  width: 38px;
}
@media screen and (max-width: 1024px) {
  .payment-logo {
    margin-top: 28px;
    gap: 16px;
  }
}

.services {
  background: #F3F3F3;
  padding-bottom: 6.25vw;
}
.services__header {
  padding: 2.0833333333vw 1.4583333333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 83.4375vw;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .services__header {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.services__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.0416666667vw;
}
.services__tab a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8333333333vw;
  color: #999999;
}
.services__tab b {
  color: #000;
  font-weight: 600;
}
.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.0416666667vw;
  padding-top: 2.0833333333vw;
  padding-bottom: 2.0833333333vw;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  background: #000;
}
.services__item {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.625vw;
  height: 6.1979166667vw;
  border: 1px solid #fff;
}
.services__item:hover {
  border: 1px solid #000;
}
.services__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625vw;
  text-decoration: none;
}
.services__item span {
  font-weight: 500;
  font-size: 0.8333333333vw;
  color: #000;
}
.services__text {
  background: #F3F3F3;
  padding-bottom: 6.25vw;
}
.services__text-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.0833333333vw;
  background: #fff;
  padding: 4.1666666667vw;
  border-radius: 2.0833333333vw;
}
.services__text-item p {
  font-weight: 500;
  font-size: 1.0416666667vw;
  line-height: 140%;
  text-align: center;
  color: #999999;
  max-width: 77%;
}
.services__text-item p b {
  color: #000;
  font-weight: 500;
}
.services__text-item h1 {
  font-weight: 600;
  font-size: 2.0833333333vw;
  line-height: 115%;
  text-align: center;
}
.services-search__wrapper {
  position: relative;
  width: 31.5625vw;
}
.services-search__input {
  font-family: "Montserrat", sans-serif;
  height: 3.125vw;
  width: 100%;
  padding: 0.625vw 0.9375vw;
  padding-left: 2.3958333333vw;
  font-weight: 500;
  font-size: 0.8333333333vw;
  border: 1px solid #fff;
  border-radius: 0.4166666667vw;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5003 2C9.14485 2.00012 7.80912 2.32436 6.60451 2.94569C5.3999 3.56702 4.36135 4.46742 3.57549 5.57175C2.78963 6.67609 2.27926 7.95235 2.08696 9.29404C1.89466 10.6357 2.026 12.004 2.47003 13.2846C2.91406 14.5652 3.6579 15.7211 4.63949 16.6557C5.62108 17.5904 6.81196 18.2768 8.11277 18.6576C9.41358 19.0384 10.7866 19.1026 12.1173 18.8449C13.448 18.5872 14.6977 18.015 15.7623 17.176L19.4143 20.828C19.6029 21.0102 19.8555 21.111 20.1177 21.1087C20.3799 21.1064 20.6307 21.0012 20.8161 20.8158C21.0015 20.6304 21.1066 20.3796 21.1089 20.1174C21.1112 19.8552 21.0104 19.6026 20.8283 19.414L17.1763 15.762C18.1642 14.5086 18.7794 13.0024 18.9514 11.4157C19.1233 9.82905 18.8451 8.22602 18.1485 6.79009C17.4519 5.35417 16.3651 4.14336 15.0126 3.29623C13.66 2.44911 12.0962 1.99989 10.5003 2ZM4.00025 10.5C4.00025 8.77609 4.68507 7.12279 5.90406 5.90381C7.12305 4.68482 8.77635 4 10.5003 4C12.2242 4 13.8775 4.68482 15.0964 5.90381C16.3154 7.12279 17.0003 8.77609 17.0003 10.5C17.0003 12.2239 16.3154 13.8772 15.0964 15.0962C13.8775 16.3152 12.2242 17 10.5003 17C8.77635 17 7.12305 16.3152 5.90406 15.0962C4.68507 13.8772 4.00025 12.2239 4.00025 10.5Z' fill='%23999999'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.625vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}
.services-search__input:focus-visible {
  border: 1px solid #000000 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.services-search__list {
  position: absolute;
  top: calc(100% + 0.2604166667vw);
  border-radius: 0.4166666667vw;
  left: 0;
  right: 0;
  z-index: 1000;
  background: white;
  border: 1px solid #000 !important;
  border-top: none;
  max-height: 9.7916666667vw;
  overflow-y: auto;
  display: none;
}
.services-search__item {
  padding: 0.625vw;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  font-size: 0.8333333333vw;
}
.services-search__item:hover {
  background-color: #000;
  color: #fff;
}
.services__tell .payment-form {
  padding-top: 0;
}
@media screen and (max-width: 1024px) {
  .services__tell .payment-form {
    padding-top: 0;
  }
}
.services__tell .payment-form__submit--visible {
  display: block;
}
.services__tell .payment-form__subtitle {
  margin-left: 0;
  margin-bottom: 1.4583333333vw;
}
.services__tell .payment-form input::-webkit-input-placeholder {
  color: #B0B0B0;
}
.services__tell .payment-form input::-moz-placeholder {
  color: #B0B0B0;
}
.services__tell .payment-form input:-ms-input-placeholder {
  color: #B0B0B0;
}
.services__tell .payment-form input::-ms-input-placeholder {
  color: #B0B0B0;
}
.services__tell .payment-form input::placeholder {
  color: #B0B0B0;
}
@media screen and (max-width: 1024px) {
  .services__tell .payment-form input {
    height: 44px;
  }
}
.services__tell .payment-form__row {
  margin-bottom: 0.46875vw;
}
.services__tell .payment-form__block {
  padding: 2.0833333333vw 1.4583333333vw;
  gap: 0;
}
.services__tell .payment-form__block .half-width {
  max-width: 100%;
}
.services__tell .payment-form__summary {
  padding: 0;
}
.services__tell .payment-form__summary-item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1.4583333333vw;
  padding-bottom: 1.4583333333vw;
}
.services__tell .payment-form__note {
  text-align: left;
  padding-top: 1.4583333333vw;
}
@media screen and (max-width: 1024px) {
  .services {
    padding-bottom: 100px;
  }
  .services__tell .payment-form__block {
    padding: 24px 12px;
  }
  .services__tell .payment-form__subtitle {
    margin-bottom: 16px;
  }
  .services__tell .payment-form__note {
    text-align: center;
    padding-top: 16px;
  }
  .services__tell .payment-form__summary {
    margin-top: 0;
  }
  .services__tell .payment-form__pay-btn {
    height: 44px;
    margin-top: 8px;
  }
  .services__header {
    padding-bottom: 28px;
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .services__header .services__select {
    width: 100%;
  }
  .services__header .services-search__wrapper {
    width: 100%;
    height: 48px;
    margin-top: 20px;
  }
  .services__header .services-search__input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: 12px;
    padding-left: 44px;
    background-position-x: 12px;
  }
  .services__header .services-search__list {
    border-radius: 8px;
    top: calc(100% + 5px);
    max-height: 200px;
  }
  .services__header .services-search__item {
    padding: 12px;
    font-size: 12px;
  }
  .services__tab {
    padding-left: 12px;
    gap: 12px;
  }
  .services__tab span a {
    font-size: 12px;
  }
  .services__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 8px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .services__icon {
    height: 36px;
    width: 36px;
  }
  .services__item {
    height: 80px;
    border-radius: 12px;
    padding-left: 12px;
  }
  .services__item img {
    width: 36px;
    height: 36px;
  }
  .services__item span {
    font-size: 12px;
  }
  .services__item a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 12px;
  }
  .services__text {
    padding-bottom: 100px;
  }
  .services__text-item {
    padding: 40px 12px;
    gap: 12px;
    border-radius: 12px;
  }
  .services__text-item h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
  .services__text-item p {
    max-width: 100%;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }
}